ignored/**
target/**
build/**
dist/**
node_modules/**
coverage/**
*.log
*.tmp
*.bak
*.swp
.DS_Store
.env
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.7z